Makefile

parameters/*
!parameters/.gitkeep

bin/*
!bin/.gitkeep

build/*
!build/.gitkeep

log/*
!log/.gitkeep

docs/*
!docs/.gitkeep

.vscode

.qmake.stash

README_private.txt

moc_mainwindow.cpp

moc_predefs.h

ui_mainwindow.h

carparking.pro.user